@model HomeIndexModel

@{
    ViewData["Title"] = "Home Page";
}

<script>
    async function getSpecificImage() {
        const requestUrl =
            'https://api.unsplash.com/search/photos?orientation=landscape&query=motorcycle&client_id=T-FCIQ-C317KwK9CTjTFtgTnc0fEq13ZwCDt9mZ8ECE';
        for (var i = 0; i < 10; i++) {
            document.getElementById("test" + i).src = await fetch(requestUrl)
                .then((response) => response.json())
                .then((data) => {
                    let allImages = data.results[i];
                    return allImages.urls.regular;
                });
        }
    }
</script>


<div class="text-center">
    <h1 class="display-4">
        <img src="~/LOGO.PNG" />
    </h1>
</div>
<div class="text-center container-xl">
    <table class="table" align="center">
        <tr>
            @using (Html.BeginForm("Search", "Home", FormMethod.Post))
            {
                <td>
                    <span class="dropdown">
                        <select name="Type" asp-for="Products" class="form-control" asp-items="ViewBag.Type" style="max-height: 55px;"></select>
                    </span>
                </td>
                <td>
                    <select name="SubType" asp-for="Products" class="form-control" asp-items="ViewBag.SubType" style="max-height: 55px;"></select>
                </td>
                <td>
                    <select name="Manu" asp-for="Products" class="form-control" asp-items="ViewBag.Manufacturer" style="max-height: 55px;"></select>
                </td>
                <td>
                    <button class="btn btn-warning" type="submit" style="align-self:center; vertical-align:middle; max-height:55px">Search</button>
                </td>
            }
            <td>
                Or
            </td>
            @using (Html.BeginForm("Search", "Home", FormMethod.Post))
            {
                <td>
                    <input name="text" placeholder="Search..." style="max-height: 55px" />
                </td>
                <td>
                    <button class="btn btn-warning" type="submit" style="align-self: center; vertical-align: middle; max-height: 55px;">Search</button>
                </td>
            }
        </tr>
    </table>
</div>
<div class="text-center container-fluid">
    <table class="table" style="text-align:center">
        <thead>
            <tr>
                <th>
                    Newest Entry
                </th>
                <th>
                    Top Selling
                </th>
                <th>
                    Find a Local Store
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @{
                        string img;
                        try { img = Convert.ToBase64String(Model.Products.First().Photos.First().Image); }
                        catch (InvalidOperationException exc)
                        {
                            img = "";
                        }
                    }

                    <img src="data:image/png;base64,@img" alt="@Model.Products.First().Description" width="360" height="240" style="width:360; height:240; object-fit:scale-down ">
                </td>
                <td>
                    @{
                        var Top = (from t in Model.Products
                                   orderby t.UnitsSold descending
                                   select t).FirstOrDefault();
                        try { img = Convert.ToBase64String(Top.Photos.First().Image); }
                        catch (InvalidOperationException exc)
                        {
                            img = "C:\\Users\\dimav\\source\repos\\motoShop-webProject\\Photos\no-image-available.jpeg";
                        }

                    }
                    <img src="data:image/png;base64,@img" alt="@Top.Description" width="360" height="240" style="width:360; height:240; object-fit:scale-down ">
                </td>
                <td>
                    <script type='text/javascript'
                            src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AnPoB1xisi-dPICgb7OAQR7SFlx1_OYF6lZtl3LkXpgjxTl1I7sXr5moOZQ0XQKM'
                            async defer></script>

                    <script type='text/javascript'>
                        function GetMap() {

                            var map = new Microsoft.Maps.Map('#myMap');

                            var BranchesTitles = [];
                            var BranchesSubTitles = [];
                            var BranchesAdress = [];
                            var BranchesLat = [];
                            var BranchesLong = [];
                            var BranchesIDs = [];
                            var pins = [];

                            @foreach(var d in Model.Branches)
                            {
                                @:BranchesTitles.push("@d.BranchName");
                                @:BranchesSubTitles.push("@d.BranchName");
                                @:BranchesAdress.push("@d.Address");
                                @:BranchesLat.push("@d.Latitude");
                                @:BranchesLong.push("@d.Longitude");
                                @:BranchesIDs.push("@d.ID");
                            }
                            for (var i = 0; i < BranchesAdress.length; i++)
                            {

                                var pin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(BranchesLat[i], BranchesLong[i]), { text: BranchesSubTitles[i]});
                                pin.metadata = {
                                    title: BranchesIDs[i],
                                };

                                Microsoft.Maps.Events.addHandler(pin, 'click', GotoPage);
                                pins.push(pin)
                            }
                            map.entities.push(pins);
                            map.setView({
                                bounds: Microsoft.Maps.LocationRect.fromShapes(pins),
                                padding: 20
                            });
                        }
                        function GotoPage(e)
                        {
                            window.location.href = "/Branches/Details?id=" + e.target.metadata.title;
                        }
                    </script>
                    <div id="myMap" style="position:relative;width:360px;height:240px;"></div>
                </td>
            </tr>
            <tr>
                <td>
                    @{
                        var Newest = Model.Products.First<Products>();
                        String cont = Newest.Type + "s";
                    }
                    <script>console.log("Newest type = " + '@Newest.Type')</script>
                    <a asp-controller=@cont asp-action="Details" asp-route-id="@Newest.Id">@Newest.Description</a>
                </td>
                <td>
                    @{

                        cont = Top.Type + "s";
                    }
                    <script>console.log("Top type = " + '@Top.Type')</script>
                    <a asp-controller=@cont asp-action="Details" asp-route-id="@Top.Id">@Top.Description</a>
                </td>
                <td>
                    Map
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table" align="center" style="text-align:center; width:max-content; border-spacing:0px; max-width:1296px">
        <tr>
            <th>
                Customers Photos
            </th>
            <th>
                Video Promos
            </th>
        </tr>
        <tr>
            <td style="width: 50vw; max-width: 648px;">
                <div class="slideshow-container">

                    @for (var j = 0; j < 10; j++)
                    {
                        <div class="mySlides">
                            @{String id = "test" + j;}
                            <img id=@id style="object-fit: scale-down; width:50vw; max-width:648px">
                        </div>
                    }
                    <script>
                        var img = new Image();
                        img = addEventListener('load', getSpecificImage(), false);
                    </script>
                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <br>

                <!-- The dots/circles -->
                <div style="text-align:center">
                    @for (var i = 0; i < 10; i++)
                    {
                        <span class="dot" onclick="currentSlide(@i)"></span>
                    }
                </div>
                <script src="@Url.Content("~/Scripts/Carousel.js")"></script>




            </td>
            <td>
                <iframe style="width: 50vw; height:33vh; max-width: 648px; max-height: 432px; padding:0px" src="@ViewBag.YouTube" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </td>
        </tr>
    </table>
    <footer class="bg-dark  text-white ">

        <div class="container text-center text-md-left">

            <div class="row text-center text-md-left ">

                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">

                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning ">MotoShop</h5>
                    <p>
                        <a href="https://twitter.com/chillin_avocado">
                            <img src="~/css/Photos/twitter.png" alt="Twiter" style="padding: 3px" />
                        </a>

                        <a href="https://github.com/gosha-shapira/motoShop-webProject">
                            <img src="~/css/Photos/github.png" alt="github" style="padding: 3px" />
                        </a>

                    </p>
                    <p class="text-md-left">
                        We are proud to bring the most invovative, stylish and extraordinary motorcycles to our garage.<br />
                        Hitting the road can be exciting and for those who like the adrenaline-rush dont forget that with great horse-power
                        comes great responsibilaty.
                    </p>

                </div>


                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">TEL-AVIV</h5>

                    <p>
                        <i class="fas fa-home mr-3"> Shoken St 16</i>
                    </p>

                    <p>
                        <i class="fas fa-phone mr-3"> 0544545448</i>
                    </p>

                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Haifa</h5>

                    <p>
                        <i class="fas fa-home mr-3"> Ha-Namal St 39</i>
                    </p>

                    <p>
                        <i class="fas fa-phone mr-3"> 0546338726</i>
                    </p>

                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Kiryat Gat</h5>

                    <p>
                        <i class="fas fa-home mr-3">
                            Adar 6
                        </i>
                    </p>

                    <p>
                        <i class="fas fa-phone mr-3"> 086738994</i>
                    </p>

                </div>


            </div>
            &copy; 2021 - MOTOSHOP
        </div>

    </footer>
</div>




