@model HomeIndexModel

@{
    ViewData["Title"] = "Home Page";
}
<script>
    async function getSpecificImage() {
        const requestUrl =
            'https://api.unsplash.com/search/photos?orientation=landscape&query=motorcycle&client_id=T-FCIQ-C317KwK9CTjTFtgTnc0fEq13ZwCDt9mZ8ECE';
        for (var i = 0; i < 10; i++) {
            document.getElementById("test" + i).src = await fetch(requestUrl)
                .then((response) => response.json())
                .then((data) => {
                    let allImages = data.results[i];
                    return allImages.urls.regular;
                });
        }
    }
</script>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="text-center">

    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
    {
        <select name="Type" asp-for="Products" class="form-control" asp-items="ViewBag.Type"></select>
        <select name="SubType" asp-for="Products" class="form-control" asp-items="ViewBag.SubType"></select>
        <select name="Manu" asp-for="Products" class="form-control" asp-items="ViewBag.Manufacturer"></select>
        <button type="submit">OK</button>
    }
</div>
<div>
    <table class="table" style="text-align:center">
        <thead>
            <tr>
                <th>
                    Newest Entry
                </th>
                <th>
                    Top Selling
                </th>
                <th>
                    Gallery
                </th>
                <th>
                    Map
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @{
                        string img;
                        try { img = Convert.ToBase64String(Model.Products.First().Photos.First().Image); }
                        catch (InvalidOperationException exc)
                        {
                            img = "C:\\Users\\dimav\\source\repos\\motoShop-webProject\\Photos\no-image-available.jpeg";
                        }
                    }
                    <img src="data:image/png;base64,@img" alt="@Model.Products.First().Description" width="360" height="240" style="width:360; height:240; object-fit:scale-down ">
                </td>
                <td>
                    @{
                        var Top = (from t in Model.Products
                                   orderby t.UnitsSold descending
                                   select t).FirstOrDefault();
                        try { img = Convert.ToBase64String(Top.Photos.First().Image); }
                        catch (InvalidOperationException exc)
                        {
                            img = "C:\\Users\\dimav\\source\repos\\motoShop-webProject\\Photos\no-image-available.jpeg";
                        }

                    }
                    <img src="data:image/png;base64,@img" alt="@Top.Description" width="360" height="240" style="width:360; height:240; object-fit:scale-down ">
                </td>
                <td>

                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            @{
                                var first = true;
                            }
                            @for (var i = 0; i < 10; i++)
                            {
                                <div class="carousel-item @(first ? Html.Raw("active") : Html.Raw(""))">
                                    @{String id = "test" + i;}
                                    <img id=@id width="360" height="240" style="width:360; height:240; object-fit:scale-down ">
                                </div>
                                first = false;
                            }
                            <script>
                                var img = new Image();
                                img = addEventListener('load', getSpecificImage(), false);
                            </script>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                           data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                           data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <!--------------------------------------------------------------------->
                    @*<img id="unsplash" class="imageToDisplay" width="360" height="240" />
                        <script>
                            var photo = document.getElementById('image_id');
                            var img = new Image();
                            img.addEventListener('load', getNewImage(), false);
                        </script>*@
                </td>
                <td>
                    <script type='text/javascript'
                            src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AnPoB1xisi-dPICgb7OAQR7SFlx1_OYF6lZtl3LkXpgjxTl1I7sXr5moOZQ0XQKM'
                            async defer></script>

                    <script type='text/javascript'>
                        function GetMap() {

                            var map = new Microsoft.Maps.Map('#myMap');

                            var BranchesTitles = [];
                            var BranchesSubTitles = [];
                            var BranchesAdress = [];
                            var BranchesLat = [];
                            var BranchesLong = [];
                            var BranchesIDs = [];
                            var pins = [];

                            @foreach(var d in Model.Branches)
                            {
                                @:BranchesTitles.push("@d.BranchName");
                                @:BranchesSubTitles.push("@d.BranchName");
                                @:BranchesAdress.push("@d.Address");
                                @:BranchesLat.push("@d.Latitude");
                                @:BranchesLong.push("@d.Longitude");
                                @:BranchesIDs.push("@d.ID");
                            }
                            for (var i = 0; i < BranchesAdress.length; i++)
                            {
                                /*var pin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(BranchesLat[i], BranchesLong[i]),
                                    { title: BranchesIDs[i], subTitle: BranchesAdress[i], text: BranchesSubTitles[i], id: BranchesIDs[i] });
                                var branchID = BranchesIDs[i];*/

                                var pin = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(BranchesLat[i], BranchesLong[i]), { text: BranchesSubTitles[i]});

                                //Store some metadata with the pushpin.
                                pin.metadata = {
                                    title: BranchesIDs[i],
                                };

                                Microsoft.Maps.Events.addHandler(pin, 'click', GotoPage);
                                pins.push(pin)
                            }
                            map.entities.push(pins);
                            map.setView({
                                bounds: Microsoft.Maps.LocationRect.fromShapes(pins),
                                padding: 20 //Add a padding to buffer map to account for pushpin pixel dimensions
                            });
                            //Add your post map load code here.
                        }
                        function GotoPage(e)
                        {
                            window.location.href = "/Branches/Details?id=" + e.target.metadata.title;
                        }
                    </script>
                    <div id="myMap" style="position:relative;width:360px;height:240px;"></div>
                </td>
            </tr>
            <tr>
                <td>
                    @{
                        var Newest = Model.Products.First<Products>();
                        String cont = Newest.Type + "s";
                    }
                    <script>console.log("Newest type = " + '@Newest.Type')</script>
                    <a asp-controller=@cont asp-action="Details" asp-route-id="@Newest.Id">@Newest.Description</a>
                </td>
                <td>
                    @{

                        cont = Top.Type + "s";
                    }
                    <script>console.log("Top type = " + '@Top.Type')</script>
                    <a asp-controller=@cont asp-action="Details" asp-route-id="@Top.Id">@Top.Description</a>
                </td>
                <td>
                    Gallery
                </td>
                <td>
                    Map
                </td>
            </tr>
        </tbody>
    </table>
</div>



