@model IEnumerable<motoShop.Models.Products>

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryDate)
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.UnitsSold)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sale)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="zoom">
                        @{
                            string img = Convert.ToBase64String(item.Photos.First().Image);
                        }
                        <img src="data:image/png;base64,@img" alt="@item.Manufacturer" width="120" height="80">
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntryDate)
                </td>
                @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitsSold)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sale)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Branch.BranchName)
                </td>
                <td>
                    @{
                        var cont = item.Type + "s";
                    }
                    <a asp-controller="@cont" asp-action="Details" asp-route-id="@item.Id">Details</a>

                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Count() == 0)
{
    <h1>No items found</h1>
}
