@model Part

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Description)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UnitsSold)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UnitsSold)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EntryDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EntryDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sale)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sale)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Stock)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Stock)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Branch.Address)
        </dd>
        <dt class="col-sm-2">
            Compatible With
        </dt>
        <dd class="col-sm-10">
            @if (Model.MotorcycleId == -1)
            {
                <p>Universal</p>
            }
            else
            {
                <a asp-controller="Motorcycles" asp-action="Details" asp-route-id="@Model.MotorcycleId">@Model.Compatibility.First().Description</a>
            }
        </dd>
        <dt class="col-sm-2">
            Gallery
        </dt>
        <dd class="col-sm-10">
        </dd>
    </dl>
    @{
        if (Model.Photos.Count() != 0)
        {
            <div class="slideshow-container">
                @foreach (var item in Model.Photos)
                {
                    <div class="mySlides">
                        @{
                            string img;
                            try { img = Convert.ToBase64String(item.Image); }
                            catch { img = ""; }
                        }
                        <img src="data:image/png;base64,@img" alt="@item.Product.Manufacturer" width="600" height="400">
                    </div>
                }
                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
                @{var i = 0; }
                @foreach (var item in Model.Photos)
                {
                    <span class="dot" onclick="currentSlide(@i)"></span>
                    i++;
                }
            </div>
            <script src="@Url.Content("~/Scripts/Carousel.js")"></script>
        }
    }

</div>
<div>
    @if (Model.Stock > 0)
    {
        <a asp-controller="ShoppingCarts" asp-action="AddToShoppingCart" asp-route-id="@Model.Id">Add to shopping cart</a>
    }
    else
    {
        <content> Sorry, out of stock </content>
    }<content> |</content>
    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> <content>|</content>
    }
    <a asp-action="Index">Back to List</a>
</div>
