@model IEnumerable<Part>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.UnitsSold)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Sale)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsSold)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Sale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Branch.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <content>|</content>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> <content>|</content>
                @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> <content>|</content>
                }
                <a asp-controller="ShoppingCarts" asp-action="AddToShoppingCart" asp-route-id="@item.Id">Add to Cart</a>
            </td>
        </tr>
        }
    </tbody>
</table>
