@model IEnumerable<motoShop.Models.Motorcycle>
    <link rel="stylesheet" href="~/css/Dima.css" />
@{
    ViewData["Title"] = "Motorcycles";

}

<h1>Motorcycles</h1>
<a asp-action="CardView">Switch to Card View</a>

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table" style="font-size: 80%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
                @Html.ActionLink("↑", "Index", new { Sorting_Order = "Man_Up" })
                @Html.ActionLink("↓", "Index", new { Sorting_Order = "Man_Down" })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
                @Html.ActionLink("↑", "Index", new { Sorting_Order = "Year_Up" })
                @Html.ActionLink("↓", "Index", new { Sorting_Order = "Year_Down" })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineSize)
                @Html.ActionLink("↑", "Index", new { Sorting_Order = "Engine_Up" })
                @Html.ActionLink("↓", "Index", new { Sorting_Order = "Engine_Down" })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.UnitsSold)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.EntryDate)
                @Html.ActionLink("↑", "Index", new { Sorting_Order = "Date_Up" })
                @Html.ActionLink("↓", "Index", new { Sorting_Order = "Date_Down" })
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Sale)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
                @Html.ActionLink("↑", "Index", new { Sorting_Order = "Price_Up" })
                @Html.ActionLink("↓", "Index", new { Sorting_Order = "Price_Down" })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <div class="zoom">
                        @{

                            string img;
                            try {  img = Convert.ToBase64String(item.Photos.First().Image); }
                            catch (InvalidOperationException exc)
                            {
                                img = "C:\\Users\\dimav\\source\repos\\motoShop-webProject\\Photos\no-image-available.jpeg";
                            }

                        }
                        <img src="data:image/png;base64,@img" alt="@item.Manufacturer" width="120" height="80" object-fit:scale-down>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EngineSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicenseType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitsSold)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.EntryDate)
                </td>
                @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Sale)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Branch.BranchName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <content>|</content>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> <content>|</content>
                    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> <content>|</content>
                    }

                    @if (item.Stock > 0)
                    {
                        <a asp-controller="ShoppingCarts" asp-action="AddToShoppingCart" asp-route-id="@item.Id">Add to shopping cart</a>
                    }
                    else
                    {
                        <content> Sorry, out of stock </content>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
